html {
  font-weight: 300;
  font-size: 16px;
  color: #f2bbba;
}
html.mobile.portrait {
  font-size: 30px;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body > header,
body > footer {
  position: fixed;
  width: 960px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  text-align: center;
}

body > header {
  top: 0;
  height: 320px;
  overflow: hidden;

  background: #fff;
}
.mobile.portrait body > header {
  height: 350px;
}

body > footer {
  bottom: 0;
}

body > main {
  position: relative;
  top: 0;
  padding: 320px 0 7rem;

  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.mobile.portrait body > main {
  padding-top: 350px;
}

body > main > section {
  margin-top: 2rem;
}
